/* *************** Import *************** */
@use "foundations/import" as f;

/* *************** Async *************** */
.success {
  background-color: f.$green;
}

.error {
  background-color: f.$red;
  cursor: not-allowed;
}

.disabled {
  background-color: f.$silver;
  cursor: not-allowed;
}

/* *************** Flex *************** */
/* justify-between */
.flexBetweenSet {
  @include f.flexSet(space-between, center);
}

/* justify-around */
.flexAroundSet {
  @include f.flexSet(space-around, start);
}

/* *************** Input *************** */
.lineInputGroup {

  .lineInput:focus + .underline::before,
  .lineInput:focus + .underline::after {
    width: 50%;
  }

  > .underline {
    position: relative;
    border-top: 1px solid f.$platinum;

    &:before,
    &:after {
      position: absolute;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: f.$crimson;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      content: '';
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }
  }
}

/* *************** Button *************** */
/* Black */
.blackButton {
  @include f.buttonSet(
    f.$black,
    f.$white,
    f.$crimson,
    f.$white
  );
}

/* Crimson */
.crimsonButton {
  @include f.buttonSet(
    f.$crimson,
    f.$white,
    f.$black,
    f.$white
  );
}

/* White */
.whiteButton {
  @include f.buttonSet(
    f.$white,
    f.$black,
    f.$crimson,
    f.$white
  );
}

/* *************** Text *************** */
.crimsonText {
  transition-duration: .3s;

  &:hover {
    color: f.$crimson;
  }
}

/* *************** Not First-child *************** */
/* Top */
.exceptTopMargin:not(:first-child) {
  margin-top: 1rem;
}

.exceptTopSection:not(:first-child) {
  margin-top: 15rem;
}

/* Left */
.exceptLeftMargin:not(:first-child) {
  margin-left: 1rem;
}