/* *************** Import *************** */
@use "foundations/import" as f;

/* *************** Async *************** */
.success {
  background-color: f.$green;
}

.error {
  background-color: f.$red;
  cursor: not-allowed;
}

.disabled {
  background-color: f.$silver;
  cursor: not-allowed;
}

/* *************** Flex *************** */
/* justify-between */
.flexBetween {
  display: flex;
  justify-content: space-between;
}

/* flex Reverse */
.flexReverse {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

/* flex */
.flexSet {
  display: flex;
  align-items: center;
}

/* justify-between & items-center */
.flexBetweenSet {
  @include f.flexSet(space-between, center);
}

/* justify-around & items-center */
.flexAroundSet {
  @include f.flexSet(space-around, start);
}

/* *************** Absolute *************** */
.absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* *************** Input *************** */
.lineInputGroup {

  .lineInput:focus + .underline::before,
  .lineInput:focus + .underline::after {
    width: 50%;
  }

  > .underline {
    position: relative;
    border-top: 1px solid f.$platinum;

    &:before,
    &:after {
      position: absolute;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: f.$crimson;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      content: '';
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }
  }
}

/* *************** Button *************** */
/* Black */
.blackButton {
  @include f.buttonSet(
    f.$black,
    f.$white,
    f.$crimson,
    f.$white
  );
}

/* Crimson */
.crimsonButton {
  @include f.buttonSet(
    f.$crimson,
    f.$white,
    f.$black,
    f.$white
  );
}

/* White */
.whiteButton {
  @include f.buttonSet(
    f.$white,
    f.$black,
    f.$crimson,
    f.$white
  );
}

/* Twitter */
.twitterButton {
  @include f.shareButtonSet(
    f.$twitter,
    f.$crimson,
    f.$white
  );
}
/* Facebook */
.facebookButton {
  @include f.shareButtonSet(
    f.$facebook,
    f.$crimson,
    f.$white
  );
}
/* Hatena */
.hatenaButton {
  @include f.shareButtonSet(
    f.$hatena,
    f.$crimson,
    f.$white
  );
}
/* LINE */
.lineButton {
  @include f.shareButtonSet(
    f.$line,
    f.$crimson,
    f.$white
  );
}

/* Language */
.technologyTag {
  @include f.skillTagSet(
    f.$orange,
    f.$white
  );
}

/* Framework */
.frameworkTag {
  @include f.skillTagSet(
    f.$green,
    f.$white
  );
}

/* Library */
.libraryTag {
  @include f.skillTagSet(
    f.$blue,
    f.$white
  );
}

/* Tools */
.toolTag {
  @include f.skillTagSet(
    f.$silver,
    f.$white
  );
}

/* *************** Text *************** */
.crimsonText {
  transition-duration: .3s;

  &:hover {
    color: f.$crimson;
  }
}

.linkText {
  color: f.$linkBlue;
}

.nonActiveText {
  color: f.$silver;
}

/* *************** Not First-child *************** */
/* Top */
.exceptTopMargin:not(:first-child) {
  margin-top: 1rem;
}

.exceptTopSection:not(:first-child) {
  margin-top: 15rem;
}

.exceptTopBlog:not(:first-child) {
  margin-top: 2rem;
}

/* Left */
.exceptLeftMargin:not(:first-child) {
  margin-left: 1rem;
}

/* *************** Loading Bar *************** */
#nprogress {
  pointer-events: none;

  .bar {
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: f.$crimson;
  }
  /* Fancy blur effect */
  .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px f.$crimson, 0 0 5px f.$crimson;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }

  /* Remove these to get rid of the spinner */
  .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
  }

  .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: f.$crimson;
    border-left-color: f.$crimson;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
  }
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}