@import './foundations/color.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --gray: #d8d8d8;
  --black: #000000;
  --code: #2a2a2a;
  --shadow: #0d2f473b;
  --silver: #a0a0a0;
  --platinum: #e8e8e8;
  --red: #e23636;
  --crimson: #dc143c;
  --lightCrimson: #ffbcbc;
  --orange: #e29336;
  --green: #28bf28;
  --blue: #4169e1;
  --linkBlue: #331cbf;
  --yellow: #fff50c;
  --twitter: #1da1f2;
  --facebook: #4267b2;
  --hatena: #01a5df;
  --line: #1dcd00;
  --selection: #79ffe1;

  --space-80px: 80px;
  --space-60px: 60px;
  --space-40px: 40px;
  --space-36px: 36px;
  --space-32px: 32px;
  --space-20px: 20px;
  --space-16px: 16px;
  --space-12px: 12px;
  --space-8px: 8px;
  --space-4px: 4px;

  --space-48: 3rem;
  --space-40: 2.5rem;
  --space-20: 1.25rem;
  --space-16: 1rem;
  --space-12: 0.75rem;
  --space-8: 0.5rem;
  --space-4: 0.25rem;
}

::selection {
  color: var(--black);
  background: var(--selection);
}

/* *************** Common *************** */
html,
body,
#__next {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* li */
li {
  list-style: none;
}

/* button */
button {
  &:focus {
    outline: none;
  }
}

/* Input */
input,
select,
textarea {
  outline: none;
}
