@use "../../../styles/foundations/import" as f;

.header {
  @extend %flexBetweenSet;

  align-items: center;
  padding: var(--space-12px);
}

.linkText {
  @include f.hoverText(
    var(--silver),
    var(--crimson)
  );

  &.active {
    color: var(--crimson);
  }
}