/* *************** Import *************** */
@use "../../styles/foundations/import.scss" as f;

/* *************** Class *************** */
.languageButton {
  @extend %flexCenterSet;
  @extend %shadow20;
  display: inline-flex;
  justify-content: center;
  padding: f.$spacing4 f.$spacing8;
  border-radius: f.$spacing4;
  background: f.$white;
}

.localeText {
  margin-left: f.$spacing12;
}