@use "../../styles/foundations/import.scss" as f;

.languagesModal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  transform: translateY(100%);
  padding: var(--space-16px);
  background: var(--white);
  transition: .5s ease-in-out;

  &.on {
    display: block;
    transform: translateY(0);
  }

}

.closeButton {
  position: absolute;
  top: 2%;
  right: 2%;
  width: f.$spacing32;
  padding: f.$spacing4 0;
  border-radius: 50%;
  background: f.$black;
  color: f.$white;
}

.languageWrap {
  width: 56rem;
  margin: 40px auto 0 auto;
  text-align: center;

  @include f.max-screen(f.$mobile) {
    width: 100%;
  }
}

.languageList {
  @extend %flexBetweenSet;
  flex-wrap: wrap;
  margin-top: f.$spacing40;

  > li {
    width: 25%;
    margin: f.$spacing16;

    @include f.max-screen(f.$mobile) {
      width: 100%;
    }
  }
}

.languageButton {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  > svg {
    transition: .4s;
  }

  &:hover {

    > svg {
      color: f.$black;
    }
  }

  > .languageText {
    flex: 1;
    margin-left: f.$spacing8;
  }
}