@use "../../../styles/foundations/import.scss" as *;

.darkModeButton {
  width: var(--space-40);
  height: var(--space-40);
  border-radius: 50%;

  @extend %flexCenterSet;

  @include hoverButton(
    var(--black),
    var(--white),
    var(--crimson),
    var(--white)
  );

  &.dark {
    @include hoverButton(
      var(--crimson),
      var(--white),
      var(--black),
      var(--white)
    );
  }
}

